.table {
  margin-top: 0px;
  display: inline-block;
}
.month {
  border: 1px solid #29a7e1;
  border-radius: 5px;
  width: 250px;
  height: 165px;
  padding: 15px;
  background: #ffeaff;
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  display: inline;
}

.header-month {
  text-align: center;
  background-color: red;
  border-radius: 5px;
  font-size: 1.5em;
  color: white;
}
.week-day {
  display: inline;
  padding: 5px;
  padding-top: 5px;
  float: left;
}
